[2020-03-04 16:18] Byloth opened #2 "Spostare in una tab separata le informazioni di trasporto"
## Issue legata a #1 ##

Spostare in una tab separata le informazioni di trasporto poiché, si presuppone, a regime andranno configurate semplicemente una volta tramite il "Tipo DdT" e solo raramente modificate puntualmente nel singolo DdT.

I campi interessati sono:
*  "Aspetto dei beni"
*  "Condizioni di trasporto"
*  "Metodo di trasporto"
*  "Motivo di trasporto"

[2020-03-04 16:29] Byloth opened #3 "Valutare la gestione dei DdT fornitore"
## Issue legata a #1 ##

Valutare la possibilità di aggiungere e gestire correttamente i DdT fornitore in ingresso all'azienda.

Probabilmente, dovranno essere sottoposti a logiche differenti, la numerazione dovrà essere inserita manualmente anzichè essere fornita automaticamente dal sistema.
Inoltre, potrebbe aver senso dividere in maniera netta i DdT fornitori utilizzando, fisicamente, dei model

[2020-03-04 17:33] GrassoPao commented on #2
Al fine di rendere la schermata più pulita inserire tutti i dati inerenti alla spedizione (volume, colli,ecc..) nel tab sopra indicata. Inoltre inserire il campo numero pallet nei dati inerenti al ddt

[2020-03-04 17:36] GrassoPao opened #4 "Selezionare la company come valore di default della combo mittente"
Nel 99% dei casi il mittente  è la company

[2020-03-04 22:11] GrassoPao opened #5 "Gestire ulteriori stati dell'ordine"
Aggiungere al campo sale_order.state o crearne uno apposito per gestire le fasi di evasione dell'ordine:
1. In attesa.... (Il cliente ha accettato l'ordine ma ancora non ha effettuato un eventuale acconto, pertanto l'ordine è accettato ma ancora non può essere lavorato)
2. In lavorazione (L'amministazione da l'ok per procedere alla lavorazione)
3. Completato(Il magazzino ha completato il/i picking

[2020-03-04 22:14] GrassoPao opened #6 "Inserire il tasto DDT in alto a destra nella view dell'ordine"
Utile a visualizzare il/i ddt legati all'ordine, oltre a essere molto più intuitivo, allo stato attuale viene difficile capire quanti e quali ddt sono legati all'ordine.

[2020-03-04 22:28] GrassoPao opened #7 "Inserire sia sul ddt sia su tipologia ddt il flag da fatturare"
Legato al flag da fatturare inserire anche uno state con i seguenti valori:
1  no  fattura
2 parzialmente fatturato
3 interamente fatturato
Entrambi i flag vanno inseriti nella lista e aggiunti i relativi filtri

[2020-03-16 08:53] Byloth opened #8 "Stampare sempre i campi del DdT"
## Issue legata a #1 ##

Attualmente, i campi non compilati, vengono omessi automaticamente al momento della stampa.
Ci dicono che potrebbe essere, comunque, utile stampare le intestazioni dei campi lasciando, gli stessi, vuoti.

[2020-03-16 08:57] Byloth opened #9 "Annullamento del DdT in modalità "easy" non funziona"
## Issue legata a #1 ##

Nella modalità di utilizzo semplificata, non sembra essere possibile annullare il DdT (una volta confermato).
Configurata la modalità avanzata, invece, è possibile annullarlo ed, eventualmente, riportarlo in "Bozza" così da correggere eventuali problema (mantenendo la numerazione del documento).

Non è un comportamento voluto ma, più che altro, una mancanza nella visualizz

[2020-03-25 16:50] Byloth commented on #9
Non è stato solo aggiunto il pulsante per annullare il documento; bensì è stata migliorata tutta la gestione degli stati.

Posso chiudere questa Issue.

[2020-03-25 16:50] #9 closed, assigned to nobody

[2020-03-25 16:50] Byloth commented on #8
Come da descrizione.

Posso chiudere questa Issue.

[2020-03-25 16:50] #8 closed, assigned to nobody

[2020-03-25 16:52] Byloth commented on #6
Come giustamente evidenziato, è stata introdotta la visualizzazione e la gestione dei DdT direttamente dall'ordine di vendita.

Puoi chiudere questa Issue.

[2020-03-25 16:53] Byloth commented on #4
Come da descrizione.

Puoi chiudere questa Issue.

[2020-03-25 17:09] Byloth commented on #5
Stiamo valutando l'implementazione di questa richiesta.

Alcune idee a caldo, che mi vengono in mente, in questo momento:

*  Sicuramente, non verrà utilizzato lo stesso campo dell'ordine di vendita.
Abbiamo già appurato, in passato, che intervenire nel normale flusso di Odoo (specialmente quello degli ordini di vendita) introducendo stati intermedi, è una **pessima** pratica da evitare ad ogni co

[2020-03-25 17:14] Byloth opened #10 "Aggiungere il campo "Numero Pallet""
## Issue generata da #2 ##

Da richiesta di @GrassoPao.

[2020-03-25 17:55] Byloth commented on #2
Stiamo valutando l'implementazione di questa richiesta.

Alcune idee a caldo, che mi vengono in mente, in questo momento:

*  La situazione è abbastanza delicata. Tento di spiegarmi con degli screen.

    Nel caso di utilizzo delle funzionalità base del DdT, l'interfaccia è già essa inclusa in una tab:
![image](https://user-images.githubusercontent.com/14953974/77567817-008d5b80-6ec8-11ea-86c0-81b

[2020-03-25 17:58] Byloth commented on #7
Potresti spiegarmi meglio questo ticket?
Quale dovrebbe essere l'utilità di avere uno stato sulla tipologia del DdT?

Non sarebbe meglio avere, lo stesso stato, ma all'interno del DdT?

[2020-03-26 09:08] Byloth opened #11 "Aggiunta di filtri e raggruppamenti"
Nella `treeview` avanzata dei DdT non sono presenti alcun filtro o raggruppamento.

Da implementare.

[2020-03-26 09:09] Byloth commented on #7
Issue legata a #11

[2020-03-26 10:51] Byloth commented on #11
Issue risolto.
È stata integrata la `treeview` dei DdT con tutta una serie di filtri e raggruppamenti ritenuti utili e validi.

Posso chiudere la Issue.

[2020-03-26 10:51] #11 closed, assigned to nobody

[2020-03-26 10:57] Byloth commented on #7
Nel commit appena pushato è stata implementata la gestione dello stato di fatturazione del DdT.
Inoltre, sono stati aggiunti i relativi filtri e raggruppamenti nella relativa `treeview`.

Rimane da capire il resto della segnalazione di @GrassoPao, come chiesto nel mio commento di ieri.

[2020-03-27 09:34] Byloth opened #12 "Ridenominazione del modulo in `l10n_it_delivery_note`"
Come chiesto da @andreampiovesana, non avrebbe più senso rinominare il modulo (anche in vista di futura integrazione in https://github.com/OCA/l10n-italy) in `l10n_it_delivery_note`?

[2020-03-27 11:07] MarcoCalcagni commented on #12
Certo sono d'accordo .

[2020-03-27 11:14] MarcoCalcagni commented on #10
la gestione pallet è abbastanza varia per la mia esperienza.
ci sono i pallet a perdere per cui chi li usa di dovrebbe aggiungere al picking come articolo.
chi usa i pallet eur li scambia cioè consegna 10 pallet e l'autista ne rende 10 .
chi usa i pallet a noleggio es. chep deve documentarli e quindi inserirli come riga articolo in picking . il noleggio funziona che pago per quanti giorni ho il pa

[2020-03-27 11:19] Byloth commented on #12
Al momento, @As400it, sono presenti degli script di [migrazione](https://github.com/linkitspa/easy_ddt/tree/12.0/migrations/12.0.2.0.0) per gestire il passaggio dei dati dal vecchio `easy_ddt`, al nuovo...
Qualora venga cambiato il nome, si andrà a perdere questa logica...

Come potremmo gestirla?
Spostiamo queste logiche all'interno di un CLI (così com'è [già stato fatto](https://github.com/linki

[2020-03-27 11:20] #6 closed, assigned to nobody

[2020-03-27 11:21] #4 closed, assigned to nobody

[2020-03-27 11:25] MarcoCalcagni commented on #12
si certo

non so come si fa,  ma va bene

Il giorno ven 27 mar 2020 alle ore 12:20 Matteo Bilotta <
notifications@github.com> ha scritto:

--
Dott.  Marco Calcagni
----
Dinamiche Aziendali S.r.l.
Sede Legale: Via G.Porzio, 4 - 80143 Centro Direzionale di Napoli
Sede Operativa: Via Nazionale delle puglie, 3 - 80013 Casalnuovo di Napoli
(NA)
Codice Fiscale e Partita IVA 07655230634
Tel  +39 081 842

[2020-03-27 11:38] Byloth commented on #10
@GrassoPao: qual era la tua idea di utilizzo di questo campo?

Potresti descriverci meglio cos'avevi in mente, anche considerando il commento di @As400it?

[2020-03-27 11:53] Byloth commented on #3
Sia @andreampiovesana che @GrassoPao hanno chiesto se, questa feature, è già presente e gestita.

Al momento, out-of-the-box, non è gestita; alla stessa maniera, però, non ci sono particolari limitazioni nell'utilizzo.
È necessario provare ad utilizzare il modulo con questo fine, capire quali sono i problemi principali riscontrati e le eventuali limitazioni.

Da definire, poi, futuri sviluppi ed i

[2020-03-27 13:33] Byloth opened #13 "Cambio manuale delle righe in fattura"
Supponiamo di creare una fattura qualunque utilizzando indistintamente uno dei due metodi supportati da EasyDDT.
La fattura creata sarà una fattura in stato “Bozza”; questo comporta che, a livello teorico, si possano cambiare manualmente le quantità delle righe o, addirittura, rimuovere un’intera riga dalla fattura stessa.

Questa eventualità appena descritta, viene correttamente gestita dal norma

[2020-03-30 07:07] MarcoCalcagni commented on #13
Ciao @Byloth , se cambi qualcosa in fattura si dovrebbe aggiornare solo il sale order mai il picking/ddt .

una volta che hai fatto la spedizione il ddt non dovrebbe essere mai variato. se lo cambi perchè hai cambiato la fattura avresti un documento non corrispondente con quello generato in precedenza.

es. spedisco 3 pezzi , il cliente ne contesta uno difettoso , gli amministrativi ne fatturano 2

[2020-03-30 07:16] MarcoCalcagni commented on #3
second o me dovrebbe essere un modulo a parte che dipende da easyddt.

lo scenario che io conosco è questo, il fornitore consegna la merce , il magazziniere registra su odoo (stavo scrivendo sistema :-) ) e poi stampa la BEM Buono Entrata Merce che allega alla ddt fornitore che poi va allegata alla fattura. nel Bem spesso sono aggiunte una serie di info che sono tipiche dell'azienda es. ubicazione

[2020-03-30 09:07] Byloth commented on #13
UUUH! Ok! Giusto!
Informazione importantissima!

Probabilmente, si potrebbe lasciare così com'è, allora...
Ti descrivo quello che accade così puoi confermarmi, o meno, se la logica è corretta.

---

Qualora dovessi eseguire delle modifiche alla fattura successive alla sua emissione, il DdT non si aggiornerebbe automaticamente: quello che era stato flaggato come "Fatturato" rimane "Fatturato" (anch

[2020-03-30 09:32] Byloth commented on #3
Sono d'accordo riguardo l'implementazione di questa feature in un modulo a parte...
Mentre, per quanto riguarda tutto il tuo discorso relativo al BEM, faccio finta di aver capito ed annuisco! 😁

---

Mi chiedo se, addirittura, non si debba cambiare la gerarchia di dipendenze di `easy_ddt` stesso...

Della serie:
 - Esiste un modulo base, come si era ipotizzato, che esprime solo i modelli (un ipote

[2020-03-30 10:04] MarcoCalcagni commented on #3
questo che hai descritto è perfetto ed è quello che vorrei, in questo modo ogni contesto avrà il suo modulo.

[2020-03-30 10:21] Byloth commented on #13
Perfetto!
Chiudo la Issue.

[2020-03-30 10:21] #13 closed, assigned to nobody

[2020-04-06 05:35] pigna74 commented on #3
Sono perfettamente d'accordo di considerare un modulo/progetto a parte. Non so neanche se valga la pena di farlo dipendere da easy ddt. Da verificare se e come gestiscono un caso simile fuori dall'Italia

[2020-04-06 05:36] pigna74 commented on #5
Questo è un problema annoso. Non credo che Easy ddt sia il luogo idoneo dove lavorarci. Mi chiedo anche in questo caso se non ci siano soluzioni già idonee ben studiate.

[2020-04-10 17:22] MarcoCalcagni opened #14 "note varie"
in modalità non avanzata
non si vede in numero di ddt nella form e nella tree
note interne -> note ddt
se possibile eliminerei il button standard odoo per la stampa quando il picking è validato.
il tab ddt lo metterei in prima posizione .

Report
data trasporto colli condizioni dovrebbero andare alla fine
il numeratore va impostato meglio

[2020-04-24 13:04] #12 closed, assigned to nobody

[2020-04-24 13:05] Byloth opened #15 "Script di migrazione per `easy_ddt`"
A seguito della ridenominazione del modulo (Issue #12), è stato commentato il codice di migrazione dalla vecchia versione di `easy_ddt` a quella nuova.

- Se si reputano fondamentali queste logiche, per garantire la "retrocompatibilità" per le istanze con la vecchia versione di `easy_ddt` installata, dovrà essere necessario adattare queste logiche ad un comando CLI da creare ad-hoc.
- Se, invece,

[2020-04-24 13:07] Byloth commented on #15
@As400it: credo proprio tu sia l'unico che possa dare una risposta a questo quesito.

Hai bisogno di garantire la retrocompatibilità con eventuali vecchie istanze oppure ce ne possiamo "sbattere" e rimuovere, semplicemente, queste logiche?

[2020-04-26 08:52] MarcoCalcagni commented on #15
la seconda certamente . in questa fase conviene andare avanti e avere una buona base di partenza poi vediamo cosa succede. il codice lascialo pure commentato può essere di ispirazione per nuovi volontari

[2020-05-04 09:38] Byloth opened #16 "Numero DdT non visibile in modalità semplificata"
Nella modalità di utilizzo base (semplificata) non è visibile il numero del DdT su una picking né nella form view, né nella tree view.

Issue generata da #14.

[2020-05-04 09:41] Byloth opened #17 "Rinominare campo "Note interne""
Nella modalità di utilizzo base (semplificata), conviene rinominare il campo "Note interne" riferite al DdT in "Note DdT" in modo tale da non creare confusione con il campo "Note interne" della picking.

Issue generata da #14.

[2020-05-04 09:48] Byloth opened #18 "Valutare se eliminare il pulsante di stampa della picking"
Valutare se eliminare il pulsante di stampa standard della picking qualora si stia utilizzando la modalità di utilizzo base (semplificata).
Potrebbe, ad un utente meno esperto, trarre in inganno.

- Potrebbe aver senso continuare a stampare la picking, a prescindere dal DdT?
- Sarebbe, comunque, possibile stampare la picking dal menù `Stampa` in testa alla form view?
- Disabilitare tale funzione a

[2020-05-04 09:58] Byloth opened #19 "Valutare se spostare il tab DdT in prima posizione"
Valutare se spostare il tab `DdT`, presente nella picking durante la modalità di utilizzo base (semplificata), in prima posizione.

**Considerazioni:**
- In prima posizione, di default, è presente la lista dei prodotti contenuti nella picking.
- La tab `DdT` è visibile solamente se, ormai, il picking è stato validato.

Tali considerazioni fatto presupporre che il tab `DdT` possa effettivamente ave

[2020-05-04 10:01] Byloth commented on #14
@As400it, puoi farmi un favore?

Potresti aprire una nuova Issue in cui descrivi nei dettagli cosa intendi con:

---

Tutti gli altri punti di questa Issue sono stati separati in ulteriori Issue.
Una volta aperta la Issue sopracitata, sentiti libero di chiudere questa.

[2020-05-12 14:32] Byloth commented on #14
Da call con @As400it, l'ultimo punto da chiarire appare risolto.

Chiudo la Issue.

[2020-05-12 14:32] #14 closed, assigned to MarcoCalcagni

[2020-05-12 17:18] #16 closed, assigned to nobody

[2020-05-14 11:24] andreampiovesana opened #20 "error printing ddt - no company_id"
Error to render compiling AST
AttributeError: 'stock.delivery.note' object has no attribute 'company_id'
Template: l10n_it_delivery_note.delivery_note_report_template
Path: /templates/t/t/t[2]/p/t
Node: <t t-esc="doc.company_id.country_id.vat_label or 'Tax ID'"/>:

[2020-05-14 12:53] andreampiovesana opened #21 "missing show_price and show_deadline_date"
need porting in form and report

[2020-05-14 16:09] MarcoCalcagni commented on #21
ciao Andrea ,
l'aggiunta di queste info potrebbe essere un modulo a parte che si integra con il delivery note di base questo perchè non a tutti potrebbe andar bene di avere il prezzo visibile ai magazziniere.
che ne pensi ?
Lo faresti tu questo moduletto

[2020-05-15 09:44] GSLabIt opened #22 "Possibile nascondere il partner nei trasferimenti interni?"

[2020-05-18 08:27] Byloth opened #23 "Reintroduzione prefisso `DDT/`"
Una `sequence` senza prefisso è poco leggibile.

Reintrodurre il prefisso `DDT/`.
Sostituire nelle stampe la dicitura `DdT:` con `Documento:`.

[2020-05-18 08:31] Byloth opened #24 "Impedire l'aggiunta di nuove righe nel DdT"
Risulta formalmente scorretta la possibilità di aggiunta di nuove righe prodotto all'interno di un DdT senza che vengano movimentate le quantità del magazzino.

Prima di valutare ulteriori logiche automatiche in tal senso, disabilitare questa funzionalità.

[2020-05-18 08:35] Byloth opened #25 "Cambiare la dicitura "Motivo di trasporto" in "Causale di trasporto""
La dicitura formalmente corretta è "Causale di trasporto".
Sostituire tutte le occorrenze di "Motivo di trasporto".

[2020-05-18 08:59] Byloth opened #26 "Completare l'SO con i dati di spedizione"
Integrare l'ordine di vendita con i seguenti campi, inerenti le informazioni di spedizione:

- Aspetto dei Beni
- Causale di Trasporto
- Condizioni di Trasporto
- Metodo di Trasporto

---

Suddetti campi dovranno essere valorizzati sulla base dei valori di default impostati per il partner selezionato e, durante la creazione del DdT dall'ordine di vendita, dovranno essere riportati sullo stesso.

#

[2020-05-18 10:00] Byloth opened #27 "Implementare automatismi di creazione SO"
Come suggerito da @stevech091, in alcune realtà, il flusso standard di fatturazione esclude l'ordine di vendita rendendo necessaria la possibilità di fatturare direttamente dal DdT.

Questo comportamento, poiché non rientra nel flusso standard di Odoo è da escludere.

**MA...**
È possibile farlo rientrare.

---

La mia proposta è la seguente:
consentire l'aggiunta di nuove righe prodotto all'inter

[2020-05-18 10:05] Byloth commented on #22
La richiesta sembra avere, perfettamente, senso.

@GSLabIt e @As400it...
Sicuramente, voi, ne sapete più del sottoscritto...

Come posso distinguere un trasferimento interno (e quindi nascondere in interfaccia il campo) rispetto ad un altro tipo di consegna?

[2020-05-18 14:42] #15 closed, assigned to nobody

[2020-05-18 14:42] #17 closed, assigned to Byloth

[2020-05-18 14:46] Byloth commented on #19
Fatto.
Spostata in prima posizione.

Chiudo il ticket.

[2020-05-18 14:46] #19 closed, assigned to nobody

[2020-05-18 14:48] Byloth commented on #23
Reintrodotto.
Chiudo la Issue.

[2020-05-18 14:48] #23 closed, assigned to Byloth

[2020-05-18 14:49] Byloth commented on #24
Fatto.
Chiudo la Issue.

[2020-05-18 14:49] #24 closed, assigned to Byloth

[2020-05-18 14:49] Byloth commented on #25
Rinominata correttamente.
Chiudo la Issue.

[2020-05-18 14:49] #25 closed, assigned to Byloth

[2020-05-18 14:50] Byloth commented on #20
Questo errore non dovrebbe più essere presente.
Quantomeno... Riesco ad eseguire le stampe correttamente.

Datemi un feedback.

[2020-05-22 07:42] Byloth opened #28 "Evidenziare i DdT in bozza da lavorare"
Evidenziare quelli che sono i DdT in stato "Bozza" pronti per essere lavorati.

In modalità di utilizzo avanzata, potrebbe essere possibile utilizzare colori sulle righe differenti oppure i filtri preimpostati.
In modalità di utilizzo semplificata, invece... ?

- Colorare le righe di picking in maniera differente?
- Aggiungere un filtro preimpostato?
- Aggiungere un'icona accanto al numero del DdT

[2020-05-22 07:54] Byloth commented on #28
Nella vista delle picking, aggiungere una nuova colonna `Stato del DdT`.
Aggiungere, inoltre, altri 3 filtri:

- `Senza DdT`
- `DdT in bozza`
- `DdT completato`

[2020-05-22 08:28] Byloth commented on #3
Dalla call che si è tenuta in data odierna, @stevech091 ha proposto di non creare un nuovo modulo a parte, per implementare questa funzionalità, ma di affogarla all'interno del modulo base.
Potrebbe, assolutamente, trattarsi di una giusta osservazione.

Trovo, però, che sia necessario definire le funzionalità necessarie e richieste prima di scegliere se implementare il tutto in un modulo nuovo a p

[2020-05-26 06:32] andreampiovesana commented on #21
credo debba essere una funzionalità di base perchè i prezzi di default dovrebbero essere nascosti per i magazzinieri e anche in stampa dei ddt

[2020-05-26 08:55] Byloth commented on #21
Perdonami, @andreampiovesana...
Forse non ho compreso la tua richiesta!

Prezzi, sconti e tasse vengono già mostrate (o nascoste) sulla base di una configurazione...
![image](https://user-images.githubusercontent.com/14953974/82880781-2cb46f80-9f3f-11ea-9792-6a117c67d2d8.png)

---

Non è questo di cui hai bisogno? 🤔

[2020-05-26 14:02] GSLabIt commented on #22
Potresti aggiungere un flag nell'operazione trasferimento interno e nascondere il partner se è true, oppure si potrebbe verificare location origine e destinazione se sono entrambe magazzini interni si potrebbe nascondere il partner.

Probabilmente il flag fuga ogni dubbio ..

[2020-05-28 22:40] andreampiovesana commented on #21
dovrei abilitarle per utente

non le metterei nei settings

se mai su ciascun documento posso indicare se lo voglio con i prezzi

Andrea Piovesana Linux Mint 19.3www.pnlug.it

Il giorno mar 26 mag 2020 alle ore 10:55 Matteo Bilotta <
notifications@github.com> ha scritto:

[2020-06-09 14:35] Byloth opened #30 "Valutare comportamento migrazione da `l10n_it_ddt`"
Attualmente, la migrazione dei dati, si basa esclusivamente sulle picking associate ai "vecchi" DdT.
Nel caso in cui, infatti, per i documenti precedenti siano presenti solo righe senza che vi siano stati associati i relativi picking, non vengono riportate le righe all'interno dei nuovi documenti.

Valutare il comportamento da adottare in questi casi.

[2020-06-11 08:43] MarcoCalcagni commented on #20
Ok risolto

[2020-06-11 08:43] #20 closed, assigned to MarcoCalcagni, andreampiovesana

[2020-06-11 12:16] MarcoCalcagni commented on #22
mergiato

[2020-06-11 12:16] #22 closed, assigned to nobody

[2020-06-11 12:18] #18 closed, assigned to nobody

[2020-06-11 13:16] Byloth opened #39 "Gestire cambio di numerazione su DdT"
Il dettaglio dell'implementazione:

- Aggiungere un flag specifico per consentire la modifica del numero del DdT.
- Consentire, a questo ruolo, la modifica del nome solo se il DdT è in stato `Draft`.
- Ignorare qualunque altra logica di controllo sulla numerazione; se questo ruolo "tocca" son fatti suoi.

[2020-06-11 13:22] Byloth opened #40 "Impedire il cambio di sequenza"
**Issue legato a #39**

Impedire, qualora sia già stata staccata una sequenza al DdT, che sia possibile selezionare un tipo DdT con una sequenza differente da quella selezionata.

[2020-06-11 13:22] #28 closed, assigned to nobody

[2020-06-11 15:21] Byloth opened #43 "Gestire domain campo `pickings_picker`"
Gestire il domain del campo `pickings_picker` sul modello `stock.delivery.note` in base al tipo di trasferimento.

[2020-06-12 10:00] #43 closed, assigned to nobody

[2020-06-12 10:05] #26 closed, assigned to nobody

[2020-06-12 16:16] #40 closed, assigned to nobody

[2020-06-12 16:16] #39 closed, assigned to nobody

[2020-06-12 16:19] Byloth opened #54 "Aggiungere controllo integrità `type_code` -> `picking_type_code`"
All'interno del modello `stock.delivery.note` è necessario aggiungere un controllo di integrità tra i campi `type_code` e `picking_type_code` (quest'ultimo appartenente al modello delle picking).

Attualmente, infatti, risulta possibile cambiare il tipo di DdT impostando un tipo differente dalle picking che esso raggruppa. **MALE!**

[2020-06-12 16:34] #21 closed, assigned to nobody

[2020-06-12 16:47] Byloth opened #56 "Alert di notifica alla fatturazione di DdT in bozza"
Qualora l'utente generi una fattura, passando dall'ordine, nonostante ci siano dei DdT associati ma non ancora confermati, mostrare un pop-up di notifica per consentire l'annullamento oppure il proseguimento dell'azione intrapresa (opzione configurabile).

Nel caso in cui l'utente decida di proseguire, la fattura generata non dovrà riportare i dati del DdT (rompere i legami tra DdT e righe d'ordin

[2020-06-15 10:09] #3 closed, assigned to nobody

[2020-06-16 12:48] MarcoCalcagni commented on #7
superata nello sprint

[2020-06-16 12:48] #7 closed, assigned to nobody

[2020-06-17 06:58] andreampiovesana opened #57 "errore su ordine cliente non carica dati listino e altro"
Se crei un nuovo ordine di vendita non cambia i campi indirizzo fattura, indirizzo di consegna, listino prezzi e valuta in automatico. Si devono impostare a mano. (da Giuseppe Stoduto)

[2020-06-17 08:57] #57 closed, assigned to nobody

[2020-06-17 08:58] Byloth commented on #57
Risolto!
Grazie per aver aperto un ticket di segnalazione! 😉

[2020-06-17 11:52] andreampiovesana opened #58 "integrazione efattura"
modulo l10n_it_fatturapa_out_ddt
che permette export dati ddt su fattura elettronica
cosa facciamo?

[2020-06-17 11:57] Byloth commented on #58
Come già detto durante lo sprint, non è da portare; possiamo ignorarlo.

`l10n_it_delivery_note` gestisce già nativamente l'aggiunta delle informazioni del DdT all'interno della fattura, come semplici righe descrittive (le quali vengono già esportate correttamente in eFattura).

Le righe descrittive, inserite in fattura, hanno il seguente formato:
[code]

---

Da quanto è emerso dallo sprint, non

[2020-06-17 11:57] #58 closed, assigned to nobody

[2020-06-17 14:02] andreampiovesana commented on #30
io direi di convertirli se move_id = null

move_id = NULL
package_preparation_id → delivery_note_id
sequence → sequence
product_id → product_id
name → name
product_id → product_id
product_uom_qty → product_qty
product_uom_id → product_uom_id
price_unit (from related)
currency_id (from related)
discount (from related)

only old:
    • lot_id (from move_id)
    • note (now note and section in new li

[2020-06-17 14:50] andreampiovesana opened #59 "company_id"
loss company_id info and multi-language report?

[2020-06-17 14:59] Byloth commented on #30
La tua proposta mi piace, @andreampiovesana!

La integro con alcune mie piccole correzioni e riscrivo il formato completo della conversione dei dati:
- `package_preparation_id` → `delivery_note_id`
- `sequence` → `sequence`
- `name` → `name`
- `product_id` → `product_id`
- `product_uom_qty` → `product_qty`
- `product_uom_id` → `product_uom_id`
- `price_unit` → `price_unit`
- `discount` → `discount

[2020-06-17 15:00] Byloth commented on #30
Flaggo la Issue come "Pronta per lo sviluppo".

Chiunque avrà del tempo da dedicarci, si senta libero di portare avanti lo sviluppo tramite una PR (possibilmente, avvisando con un commento, per evitare che in più persone si lavori inutilmente sullo stesso sviluppo).
Se qualcun altro, invece, dovesse avere altre opinioni a riguardo, non esiti a commentare ulteriormente questa Issue con le sue osser

[2020-06-17 15:13] Byloth opened #60 "Implementare funzionalità multi-company"
In seguito dell'apertura della Issue #59 da parte di @andreampiovesana, apro questa Issue (e chiudo la precedente) così da tradurre in un Italiano corrente e linguaggio leggibile da chiunque quanto ho intuito (credo) dalla Issue citata.

Si richiede l'implementazione e la gestione di tutte le funzionalità del DdT anche su un'istanza di Odoo configurata per il multi-company.

---

@andreampiovesana

[2020-06-17 15:14] #59 closed, assigned to nobody

[2020-06-17 15:15] Byloth commented on #60
Per quanto riguarda l'implementazione di questa Issue, credete basti semplicemente aggiungere al modello `stock.delivery.note` il campo `company_id`?
Oppure è necessario altro?

Non ho esperienza diretta con database multi-company, purtroppo... 🤔

[2020-06-17 16:01] andreampiovesana commented on #60
per la modifica guarda qui:
https://github.com/odoo/odoo/pull/38369/files

[2020-06-17 17:13] Byloth commented on #60
Perfetto, @andreampiovesana...
Se basta aggiungere una foreign-key al modello e la relativa `ir.rule`, allora non serve ulteriore analisi.

Flaggo la Issue come "Pronta per lo sviluppo".

Chiunque avrà del tempo da dedicarci, si senta libero di portare avanti lo sviluppo tramite una PR (possibilmente, avvisando con un commento, per evitare che in più persone si lavori inutilmente sullo stesso svil

[2020-06-17 22:33] andreampiovesana opened #61 "Campo standard x le note"
Userei la stessa tipologia usata per ordini e fatture ovvero campo tipo text. E lo metterei a piede del documento della form. Inoltre il formato HTML non viene gestito nei report xlsxwriter.

[2020-06-18 07:30] Byloth commented on #61
Se devo essere sincero, questa richiesta la trovo un "passo indietro" rispetto al comportamento attuale.
Il campo `Html` consente esattamente le stesse funzioni offerte dal formato `Text`, oltre a tutta la libertà della formattazione del testo (cosa non offerta, invece, dal tipo `Text`).

Oltre al fatto che, se i report XLSX (formato **NON** standard di Odoo) non supportano correttamente questo ti

[2020-06-18 15:30] andreampiovesana commented on #61
tenere una linea standard per i documenti è MOLTO meglio:
sale.order
account.invoice
stock.picking
purchase.order
e
stock.delivery.note

Se trasferisco una nota da ordine a DDT e quindi a fattura è meglio se sono tutte dello stesso formato

Il giorno gio 18 giu 2020 alle ore 09:31 Matteo Bilotta <
notifications@github.com> ha scritto:

[2020-06-18 16:33] MarcoCalcagni commented on #60
Aggiunta la gestione company id

[2020-06-18 16:33] #60 closed, assigned to nobody

[2020-06-18 16:35] MarcoCalcagni commented on #27
secondo me va messo in un modulo a parte.

[2020-06-18 16:42] MarcoCalcagni commented on #61
non è che esiste una funzione che pulisce i tag html?
nei template per inviare le mail in automatico avevo lo stesso problema che ho risolto con
${object.description | safe}

[2020-06-19 07:42] Byloth commented on #61
Di seguito il codice interessato standard di Odoo:

https://github.com/odoo/odoo/blob/12.0/odoo/tools/mail.py#L286-L381

[2020-06-22 11:34] TheMule71 opened #63 "Field stock.delivery.note.display_name depends on itself; please fix its decorator"
in odoo/odoo/models.py:

[code]

se _rec_name è settato a 'display_name' come qui:

[code]

si ottiene il warning:
2020-06-22 11:17:34,540 23149 WARNING test2 odoo.fields: Field stock.delivery.note.display_name depends on itself; please fix its decorator @api.depends().

Non ho idea di come fixarlo e/o se serve farlo... so che non capivo da dove veniva il Warning alla fine sono riuscito a beccarlo

[2020-06-22 12:07] Byloth commented on #63
Ottimo lavoro, @TheMule71! 👍

Ci faccio una pensata... Devo ricordarmi perché ho settato `_rec_name` uguale a `display_name`!
Faccio alcune prove e aggiorno la Issue... 🤔

[2020-06-22 18:41] TheMule71 commented on #63
Io stavo valutando se invece fare l'override della name_get(). Tuttavia non sapendo esattamente perché era stato fatto ho preferito fermarmi.

[code]

e

[code]
ma ovviamente le implicazione non mi sono al 100% chiare...

[2020-07-10 08:14] Borruso opened #65 "In fattura il commento del ddt riporta sempre "00:00:00", a questo punto meglio mettere tipo date"

[2020-07-10 08:18] Borruso opened #66 "Possibile avere il commento ddt in fattura sopra il prodotto fatturato, per il prodotto il proprio commento ddt"

[2020-07-10 08:21] Byloth commented on #66
Ciao @andreampiovesana!
Puoi spiegarmi meglio, questa richiesta?

Se la fattura contiene 3 prodotti ed è associata ad un solo DdT, vorresti riportare 3 volte (una per prodotto) la stessa dicitura `DdT del ...` prima di ogni singolo prodotto?

[2020-07-10 08:37] Byloth commented on #63
@Borruso conferma che il messaggio di warning non è più presente!

Chiudo il ticket.

[2020-07-10 08:37] #63 closed, assigned to Byloth

[2020-07-10 09:56] Byloth commented on #65
Risolto in 233e08787c4adb504040ae2ed79caef95098a1eb.

Chiudo la Issue.

[2020-07-10 09:56] #65 closed, assigned to nobody

[2020-07-10 10:19] Byloth opened #67 "Verifica logiche campo `delivery_method_id`"
Il campo `delivery_method_id` presente nel modello `stock.delivery.note` viene valorizzato sulla base del valore di default impostato sul partner.

Dovrebbe far fede il campo impostato sull'ordine di vendita?
E se ci sono più ordini di vendita associati?

Da analizzare.

[2020-07-10 10:55] andreampiovesana commented on #66
il commento nr e data ddt della fattura deve essere posizionato prima delle
righe a cui si riferisce, come una intestazione
ad esempio
*DdT DDT/2020/123 del 01/06/2020*
mouse nr 1
tastiera nr 2
*DdT DDT/2020/456 del 06/06/2020*
monitor nr 1
patch 3 mt nr 10
patch 3 mt nr 10
evidenzierei in bold se commento oppure usando la sezione

Andrea Piovesana Linux Mint 19.3www.pnlug.it

Il giorno ven 10 lug

[2020-07-10 12:22] Byloth commented on #66
Ah... Adesso ha più senso!
Sì, ok... Ci sta!

Poichè, comunque, la procedura di creazione delle fatture non è custom (ma è standard Odoo), è necessario verificare quanto sia oneroso introdurre questo tipo di logica...

---

### Possibili pitfall! ⚠

- Quanto è oneroso o complicato capire quale riga di fattura è legata a quale DdT?
Se sono presenti due DdT in fattura che presentano una stessa riga,

[2020-07-17 14:51] #56 closed, assigned to Byloth

[2020-07-24 09:38] Byloth commented on #66
Ok... Dunque...

Ho sviluppato questa feature descritta e l'ho pushata nel branch separato [`feature/ddt-invoice-notes`](https://github.com/DinamicheAziendali/l10n_it_delivery_note/tree/feature/ddt-invoice-notes).
Presenta, infatti, un piccolo problema ed è necessario capire come risolverlo.

Di seguito descritto...

---

Supponiamo questo caso...
Dato un ordine di vendita di partenza, vengono ass

[2020-07-24 10:09] Byloth commented on #66
Mi è giusto venuta in mente un'altra idea! 💡

Potremmo, eventualmente, aggiungere un flag a livello di configurazione che (se flaggato) riordini le righe per DdT.
Così facendo, si lascerebbe all'utente finale l'onere di decidere se si vogliono le righe ordinate secondo l'ordine presente nell'ordine di vendita di partenza oppure secondo il DdT associato alla riga stessa.

---

### Possibili pitfall

[2020-07-24 10:42] Byloth commented on #61
A seguito di una call con @As400it, riassumo quanto è emerso:

- Utilizzare il campo `Text` anziché `Html` **È** un downgrade.
- Utilizzare il campo `Text` anziché `Html` perché quest'ultimo non è un tipo supportato dai report prodotti con XlsxWriter **NON** è una motivazione valida.
Se XlsxWriter non supporta i campi `Html`, che si faccia una PR presso XlsxWriter.
- Utilizzare il campo `Text` anz

[2020-07-24 10:42] #61 closed, assigned to nobody

[2020-09-02 11:01] Byloth opened #68 "DdT non confermati associati a fatture"
@Borruso ha identificato un caso particolare (che prego di indicare, qui nei commenti, i passi necessari per riprodurlo) in cui risultano esserci dei DdT **NON CONFERMATI** associati a delle fatture.

È un caso che **NON** di deve verificare. Punto.

---

L'origine del problema sembra essere la mancanza dei valori dei campi `name` e `date` del DdT in questione.
La fix proposta è stato un if statem

[2020-09-02 11:01] Byloth commented on #68
@As400it: metto anche te al corrente di questa problematica.

[2020-09-04 12:50] Byloth commented on #68
Ora i test girano...
La ragione del fallimento dei test, però, non è in alcun modo in relazione al problema indicato in questo ticket.

Rimane sconosciuta la sequenza di passi per replicare il problema.

[2020-09-04 13:03] Borruso commented on #68
A questo punto dire che la causa di questo errore è dato dalla non congruenza tra la PR e questo repo.
La congruenza ormai è quasi nulla, entro oggi modificherò la PR con le modifiche applicate al repo.

[2020-09-04 13:05] Byloth commented on #68
Se questo errore, non ti si dovesse più presentare, avvisa su questa Issue!

Così la _flagghiamo_ come risolta e la chiudiamo! 😉

[2020-10-11 11:50] Byloth commented on #68
@Borruso?
Abbiamo news riguardo a questo problema?

Possiamo considerarlo risolto e chiudere la Issue?

[2020-10-11 12:17] Borruso commented on #68
@Byloth puoi chiudere!
Confermo che la causa di questo errore è dato dalla non congruenza, ormai è nulla, tra la PR e questo repo.

[2020-10-11 12:22] #68 closed, assigned to Byloth

[2020-10-11 17:20] Byloth opened #70 "Funzionalità duplicata in `l10n_it_delivery_note_order_link`"
Buongiorno a tutti.

Richiamo l'attenzione di @andreampiovesana, per questa Issue.

Stavo girovagando tra i file del progetto e mi son ritrovato di fronte a questa incongruenza.
Tutte le logiche presenti in [questo file](https://github.com/DinamicheAziendali/l10n_it_delivery_note/blob/98545e5f50b548234dd266fbc028edc61d179f00/l10n_it_delivery_note_order_link/models/sale_order.py) sono già presenti

[2020-10-12 16:00] Byloth opened #71 "Notifica di DdT non validato a livello di azienda?"
Buongiorno a tutti.

Richiamo l'attenzione di @As400it.

Stavo girovagando tra i file del progetto e mi son ritrovato di fronte a questa incongruenza.
Per quale motivo, abbiamo definito [questi due flag](https://github.com/DinamicheAziendali/l10n_it_delivery_note/blob/98545e5f50b548234dd266fbc028edc61d179f00/l10n_it_delivery_note/models/res_config_settings.py) di configurazioni uno a livello di "r

[2020-10-12 16:05] MarcoCalcagni commented on #71
per disciplinare se abilitare o meno la fatturazione dal delivery sia a
livello azienda che a livello utente nel senso che se fatturo dai ddt
potrei non abilitare il magazziniere ad emettere fattura.

Il giorno lun 12 ott 2020 alle ore 18:00 Matteo Bilotta <
notifications@github.com> ha scritto:

--
Dott.  Marco Calcagni
----
Dinamiche Aziendali S.r.l.
Sede Legale: Via G.Porzio, 4 - 80143 Centro D

[2020-10-23 07:50] Borruso opened #72 "Prodotto con distinta base di tipo kit in DDT"
Come generare l'errore:

- aggiungi nel ordine di vendita un prodotto con distinta base di tipo kit e nel picking ti escono i componenti nella distinta

- quindi nelle righe del ddt avrai tutti i componenti del kit con la descrizione del prodotto "padre"

[2020-10-26 13:10] Borruso opened #73 "Picking di tipo mrp_operation partner non obbligatorio"
l'unico caso in cui la picking può non avere il partner è quando essa è in mrp_operation e in questo caso e pure inulite scatenare la creazione del ddt.
Per ricreare il caso basta fare:

- una picking senza partner e di tipo mrp_operation

- ubicazione di provenienza wh/stock

- destinazione virtual locations/production

[2020-10-29 17:29] #54 closed, assigned to Byloth

[2020-10-30 08:57] Byloth commented on #70
Ping, @andreampiovesana.

[2020-10-30 09:09] andreampiovesana commented on #70
order link è il mio modulo ....
poi vedete voi ...

Andrea Piovesana Linux Mint 19.3www.pnlug.it

Il giorno ven 30 ott 2020 alle ore 09:57 Matteo Bilotta <
notifications@github.com> ha scritto:

[2020-10-30 09:36] Byloth commented on #71
@As400it: ho compreso quanto hai descritto...
Il mio dubbio, più che altro, era riferito all'altro campo; quello di notifica durante la fatturazione di un SO con dei DdT in bozza.

Ho creato una PR (#74) in cui cambio questo comportamento da settaggio sulla company a, invece, un ruolo utente (configurabile, eventualmente, anche globalmente)...

È una modifica corretta, lecita e si può mergeare opp

[2020-10-30 09:51] Byloth commented on #71
Confrontandoci con @As400it, siamo giunti alla conclusione che questa configurazione risulta essere inutile.
Infatti, il tipo di notifica mostrata, dovrà essere visualizzata sempre ed in ogni caso.

Verrà rimossa questa configurazione e modificate le logiche di conseguenza.

[2020-10-30 09:52] #71 closed, assigned to MarcoCalcagni

[2020-10-30 09:59] Byloth commented on #70
Sissì... Lo so bene, @andreampiovesana...
Nulla da obiettare, su questo punto...

---

Ti ho solo chiesto, come mai, sono state duplicate delle logiche...
C'è un motivo in particolare, è un errore oppure è una semplice ridondanza?

Si può rimuovere o va lasciato lì?
E se "sì"... Perché?

[2020-10-30 14:50] #30 closed, assigned to Byloth

[2020-10-30 14:52] Byloth commented on #30
@andreampiovesana: implementato.

Testato personalmente e sembra funzionare...
Prova a fare un test e fammi sapere se ti torna tutto.

[2020-10-30 16:05] #72 closed, assigned to nobody

[2020-11-02 14:23] Byloth commented on #73
@As400it e @Borruso, provate a dare un occhio...
Ho pushato questo commit e dovrei aver risolto il problema indicato.

Dico "dovrei" perché, personalmente, non ho sufficiente esperienza con il modulo MRP...

Inoltre...
Ho rimosso quel blocco di `try: except:` che wrappava un `ValueError` per convertirla in una `UserError` (se ho ben capito, non dovrebbe più servire).

Fatemi sapere.

[2020-11-02 16:32] Borruso commented on #73
Provato è funziona ottimo lavoro :+1: @Byloth

[2020-11-02 16:41] #73 closed, assigned to MarcoCalcagni, Borruso

[2020-11-09 14:09] Byloth commented on #70
Ping, @andreampiovesana.

[2020-11-09 14:27] andreampiovesana commented on #70
nel modulo principale forse è stato fatto dopo, è passato molto tempo e
moltissimi commit
io lo lascerei nel mio, ovviamente
grazie

Andrea Piovesana Linux Mint 19.3www.pnlug.it

Il giorno lun 9 nov 2020 alle ore 15:10 Matteo Bilotta <
notifications@github.com> ha scritto:

[2020-11-09 15:26] Byloth commented on #70
Grazie per la risposta.
Chiudo il ticket.

[2020-11-09 15:26] #70 closed, assigned to andreampiovesana

[2020-11-21 15:50] GSLabIt opened #76 "Fatturazione massiva differita ddt."
E' possibile integrare la funzione già presente sul modulo ddt oca (`l10n_it_ddt`)?

Video da runbot: https://recordit.co/DKbtSW2aLg

Codice python:
https://github.com/OCA/l10n-italy/blob/ee36257004b52c185123bdd27f0633aaeb5d2593/l10n_it_ddt/wizard/ddt_invoicing.py#L13

View:
https://github.com/OCA/l10n-italy/blob/ee36257004b52c185123bdd27f0633aaeb5d2593/l10n_it_ddt/wizard/ddt_invoicing.xml#L6

[2020-11-21 16:29] Byloth commented on #76
Allora...
Considerazioni dopo una rapida lettura del codice indicato...

Ho notato che nel caso del vecchio modulo `l10n_it_ddt`, basato sulle `stock.picking.package.preparation`, venivano utilizzate queste ultime per la fatturazione massiva.

In questo modulo, però, la fatturazione si appoggia sulla fatturazione degli `sale.order` nativa di Odoo.
Un'eventuale funzionalità di questo tipo, non dovr

[2020-11-21 16:50] GSLabIt commented on #76
Va bene ovunque, l'importante che vi sia perché senza, per alcune tipologie di utenti, non è usabile. Non è ipotizzabile, che un'azienda che genera centinaia (se non migliaia) di ddt, effettui una fatturazione differita manualmente per ogni singolo ddt.

[2020-11-21 17:32] MarcoCalcagni commented on #76
Ciao Giovanni,
il flusso per la fatturazione è quello di odoo . dal menu "to invoice" poi "order to invoice" seleziona tutti gli ordini e li fatturi in modo massivo.

poi come detto da Matteo si può pensare ad un modulo che ti chiede una data limite per emettere fattura.

Marco

[2020-11-21 18:20] GSLabIt commented on #76
La riprovo, cmq sarebbe ottimo avere una wizard per la selezione dei range di date.

Non ho ben capito come funziona esempio:
- ordine di vendita validato a settembre
- alcuni ddt emessi a settembre ed altri ad ottobre.

- il 14 ottobre fatturo ordini massivamente per ddt emessi a settembre con data fattura 15 ottobre.

Come imposteresti la data limite?

Mi sa che la ricerca va fatta su data deliv

[2020-11-21 22:03] Byloth commented on #76
Tutto giusto, quanto dici...
Proprio per questo, tale menù, non avrebbe senso fosse presente nella vista `tree` degli ordini di vendita.
In questo caso specifico, appunto, gli ordini di vendita non c'entrano nulla.

Ecco perché, secondo me, questa funzione dovrà essere aggiunta all'interno della vista `tree` dei DdT (ed esclusivamente lì).

---

In merito a questa tua richiesta, magari, potresti d

[2020-12-18 15:37] gigidn commented on #10
Metterei la logica bhu .. da qualche parte come specificato nella PR ..... ma IMHO questa logica puo' essere unificata.
I pallet andrebbero gestiti con la funzione pack di odoo ... l'oggetto pack ha anche il prodotto associato (inserito dal modulo delivery purtroppo).
Si potrebbe mettere sul pack una sorta di flag che indica che il prodotto associato va inserito o meno nel picking.
Il calcolo del

[2020-12-18 15:43] gigidn commented on #67
Il campo delivery_method_id va preso dall'ordine di vendita e solo in sub-ordine dal partner o partner superiore se questo e' indirizzo di spedizione e non ha metodo associato.
1 ordine n picking ma mai il viceversa (questo e' odoo :D) ... indi piu' ordini in un picking non e' possibile. Quando vai ad aggiungere un pk al DDT se questo e' difforme per delivery_method_id non lo fai inserire .... dop

[2020-12-18 15:45] gigidn commented on #27
@As400it l10n_it_delivery_note_account? :D vedi la mia PR

[2020-12-18 15:48] gigidn commented on #5
In che modo si lega questo con il DDT? ... e' un processo legato all'ordine ed al mondo sale ... IMHO completamente avulso dalle logiche che questi moduli implementano.

[2020-12-18 15:56] gigidn commented on #66
Sta roba e' di borbonica concezione .... dopotutto anche la FE prevede uno o piu' DDT associati alla linea di fattura ... ordino 10 spedisco in 3 momenti fatturo in blocco .. l'intestazione seppur possibile (tutto si fa al mondo) e' fonte di innumerevoli bug e complicazioni inutili legati solo alle preferenze individuali ... io ero abituato cosi'.
La riga di fattura anche in stampa deve riportare

[2020-12-18 16:40] Byloth commented on #67
Una picking non può avere più ordini, certo...
**MA**, un DdT, può avere più picking associate ad ordini differenti (chiaramente, tutti dello stesso cliente).

Per questo è necessario capire come gestire la casistica di molteplici Ordini di Vendita associati al DdT.

[2020-12-18 19:01] gigidn commented on #67
Prima di agganciare il picking al DDT controlli che il delivery_method_id del DDT sia identico a quello presente nel picking che vuoi inserire, se differiscono generi un errore. Stesso controllo che fai per il cliente fai anche per il delivery_method. In realta' devi anche farlo per incoterms sto controllo. Spero di ricordarmi e ti condivido il codice del mio attuale modulo DDT che fa sti controll

[2021-01-07 22:19] GSLabIt commented on #30
@Byloth possibile sapere come lanciare il comando? ho provato come da readme:

`./odoo-bin migrate_ddt_data --database mydb`

ma continua a darmi errore: `Unknow command 'migrade_ddt_data'`

suggerimenti? grazie

[2021-01-08 10:16] Byloth opened #78 "Migrazione DdT con sequence `range_year`"
Se si tenta di eseguire la migrazione dei dati, una volta passato il nuovo anno, la sequence restituirà come valore `1`.
Così facendo, ne risulta che non avviene alcuna migrazione in quanto, la sequence, viene reputata come "nuova"!

Basarsi su una `search_count` anziché sulla sequence.

---

La sequence di `delivery_note` non sembra abbiano una logica di `range_year`!
Verificare e correggere ques

[2021-01-08 14:42] Byloth commented on #78
La soluzione proposta da @GSLabIt è la seguente:

[code]

[2021-01-08 14:44] GSLabIt commented on #78
fixata

[code]

[2021-01-08 14:46] Byloth opened #79 "Aggiornamento documentazione script di migrazione"
Dai vari test eseguiti insieme a @GSLabIt, siamo arrivati alla conclusione che, qualora si lanci `./odoo-bin` passando esplicitamente il parametro al file di configurazione (`-c /path/to/file.conf`), Odoo risulta non essere in grado di caricare correttamente le configurazioni (in particolare la variabile `addons_path`) non riuscendo, così, a trovare alcun modulo di terze parti (tra cui il modulo s

[2021-01-08 14:57] Byloth commented on #78
Ho eliminato il commento precedente per evitare ridondanza.
Ho corretto lo snippet nel mio commento precedente!

Grazie della fix! 😉

[2021-01-11 10:00] #78 closed, assigned to nobody

[2021-01-11 10:27] Byloth opened #81 "Risincronizzazione righe tra picking e DdT"
Come da segnalazione di @CiroBoxHub, una volta aggiunte una o più picking al DdT, non è più possibile sincronizzare nuovamente le righe del DdT .
Questo comportamento risulta errato in quanto, è sempre possibile aggiungere nuove righe alla picking (anche una volta confermata).

Da capire se si vuole gestire la casistica, che complicherebbe di molto le logiche (soprattutto in caso di picking splitt

[2021-01-12 08:08] Byloth opened #82 "Copia sequence durante migrazione da `l10n_it_ddt`"
Come da segnalazione di @GSLabIt, al momento, dopo aver eseguito la migrazione dei dati, viene mantenuta la sequence creata ed utilizzata dal vecchio modulo `l10n_it_ddt` come sequence effettiva per i documenti che verranno creati con `l10n_ti_delivery_note`.

Tale sequence, però, non viene correttamente associata ad entrambi i tipi DdT in uscita:
-  In uscita
-  In uscita (con prezzi)

---

Quest

[2021-01-13 13:07] GSLabIt opened #83 "Utilizzare partner_id da SO su Recipient anziché Shipping Address"
Vedi https://recordit.co/8NPNQZiz8o

[2021-01-13 20:39] MarcoCalcagni commented on #83
ciao, in questi giorni abbiamo fixato un po di cose, tra cui quella che
indichi tu.

ci sta lavorando Giuseppe

qualsiasi segnalazione è benvenuta.

Marco

Il giorno mer 13 gen 2021 alle ore 14:08 Giovanni <notifications@github.com>
ha scritto:

--
Dott.  Marco Calcagni
----
Dinamiche Aziendali S.r.l.
Sede Legale: Via G.Porzio, 4 - 80143 Centro Direzionale di Napoli
Sede Operativa: Via Nazionale d

[2021-01-13 20:40] GSLabIt commented on #83
@As400it grazie per la info, quando pensate di fare il merge l10n-italy?

[2021-01-13 20:48] MarcoCalcagni commented on #83
presto con la PR, poi per il merge è un po' più complicato i tempi si
allungano.

Marco

Il giorno mer 13 gen 2021 alle ore 21:41 Giovanni <notifications@github.com>
ha scritto:

--
Dott.  Marco Calcagni
----
Dinamiche Aziendali S.r.l.
Sede Legale: Via G.Porzio, 4 - 80143 Centro Direzionale di Napoli
Sede Operativa: Via Nazionale delle puglie, 3 - 80013 Casalnuovo di Napoli
(NA)
Codice Fiscale e P

[2021-01-13 20:49] GSLabIt commented on #83
@As400it aggiungimi pure come reviewer alla pr

[2021-01-14 14:01] CiroBoxHub commented on #81
@Byloth data la complicanza di gestione, si potrebbe pensare ad un campo tipo il force number delle fatture, visibile finché il ddt è in bozza in modo da recuperare la numerazione una volta cancellato il ddt?
Oppure si potrebbe aggiungere nelle configurazioni ddt un sezione con il related al numero successivo in modo che l'utente possa modificare da li il numero successivo da emettere.

(ovviament

[2021-01-15 17:57] GSLabIt opened #84 "Assegnare valori di default da DN Type alla creazione della DN."
vedi: https://recordit.co/k5dq2UyF3S

sarebbe utile poter assegnare una tipologia di ddt a un tipo di operazione, così assegna "in uscita" ai picking out e "trasferimento interno" ai trasferimenti interni, etc etc

[2021-01-18 14:58] GSLabIt opened #85 "Riportare su stampa ddt righe ordine con servizi e/o costi di spedizione"
Al momento non è prevista la possibilità di stampare le righe ordine con servizi e/o costi di spedizione. Possibile inserirle?

[2021-01-18 16:51] Byloth commented on #85
Come accennato su Telegram, ho necessità di comprendere (non mi è proprio chiara, purtroppo) il caso e l'esigenza reale in cui ha senso inserire e stampare in un documento di trasporto le spese di consegna...
Al di là, naturalmente, del classico ma, all'atto pratico, dell'insignificante: «Me lo ha chiesto il cliente; è sempre stato abituato così!».

@As400it puoi colmare questa mia lacuna funziona

[2021-01-18 16:52] Byloth commented on #83
@Borruso o @As400it: questo ticket può essere chiuso?
È stata implementata e committata, questa funzionalità?

Grazie.

[2021-01-18 17:55] GSLabIt commented on #83
@Byloth dove posso testare?

[2021-01-18 18:01] GSLabIt commented on #85
@Byloth se può essere utile: https://github.com/OCA/l10n-italy/issues/1291

[2021-01-18 18:10] MarcoCalcagni commented on #85
I servizi sono gestiti nel sale order e fatturati dal sale order .

certamente è possibile aggiungere delle note nel delivery note.
per i servizi di tipo trasporto aggiunti automaticamente potrebbe essere
valido come cosa ma da mettere in un modulo separato. la gestione delle
spese di trasporto può essere complessa faccio due delivery note le spese
le applico ad entrambi ?
potrei avere spese per i

[2021-01-18 18:40] GSLabIt commented on #85
@As400it tutto vero, ma il cliente ha in mano il ddt, e quando riceve la fattura va a quadrarla con i ddt ricevuti. Se non trova le spese di spedizione i ddt non quadrano. Possiamo inserirle dove vogliamo, ma imho sarebbe opportuno averle. Aggiungo che molte piccole realtà utilizzano il ddt come se fosse un ordine vero e proprio.

[2021-01-19 08:05] Borruso commented on #83
@Byloth @As400it @GSLabIt
La modifica è stata effettuata nella stampa del DDT.
Se c'è un ordine di vendita collegato al DDT nella stampa come customer troviamo il partner dell'ordine.

[2021-01-19 08:49] Byloth commented on #83
Solo sulla stampa, quindi?

Mmmh...
Ok... Teniamolo aperto!

Dovremo cambiare proprio il funzionamento del modello.

[2021-01-19 09:16] GSLabIt commented on #83
Si potrebbe modificare solo la stampa?

[2021-01-19 09:25] francesco-ooops opened #86 "Stampa descrizione prodotto invece del nome nel DDT / riferimento interno duplicato"
Al momento il campo "descrizione" del ddt riporta il nome del prodotto invece che la descrizione prodotto inserita nel SO

questa funzionalità (stampa descrizione) era presente nel vecchio ddt e la sua mancanza genera un'inconsistenza:

- la stampa SO contiene il campo "descrizione" e non il campo "nome"
- la stampa fattura contiene il campo "descrizione" e non il campo "nome"
- la stampa DDT cont

[2021-01-19 09:31] Byloth commented on #83
È già così:

[2021-01-19 09:37] Byloth commented on #85
Per esperienza personale, posso confermare che la ricetta **PERFETTA** per creare un disastro in Odoo è mischiare le logiche e far fare a qualcuno il lavoro di qualcun altro... E, cazzo, mi batterò fino alla morte affinché non accada.

---

In quest'ottica, come già ribadito, il flusso di fatturazione da DdT (rientrando in quello che è lo standard di Odoo) fattura GIÀ e in completa autonomia, le s

[2021-01-19 09:48] Byloth commented on #86
@Borruso e @As400it: questa Issue fa riferimento ad uno degli errori già risolti... Sbaglio? 🤔

[2021-01-19 09:55] GSLabIt commented on #85
La logica è piuttosto semplice, dovrebbe esser possibile far tutto dall'ordine.

Quindi:
- Creo preventivo
- Conferma ordine -> conferma del picking -> Creazione delivery_note
- Possibilità di stampa del DDT da SO (con o senza prezzi)

Nel caso in cui venisse annullato un ordine e/o successivamente modificato:
- Annullo Delivery Note -> Annullo Picking -> Annullo Ordine
- Ordine in stato Bozza, ri

[2021-01-19 09:58] GSLabIt commented on #85
Tutto questo andrebbe bene, ma il cliente ha in mano un DDT cartaceo con un totale che non comprende le spese di spedizione. Domando, quando arriva la fattura è contestabile?

[2021-01-19 10:03] Byloth commented on #27
Commento di @GSLabIt:

[2021-01-19 10:05] GSLabIt commented on #83
@Byloth dove posso testare?

[2021-01-19 10:07] Byloth commented on #85
Questa è un'ottima domanda!
In un caso del genere, ci sarebbe poco da fare!

L'esigenza cambierebbe: i totali **DEVONO** coincidere.

---

Ci servono informazioni.

[2021-01-19 10:08] GSLabIt commented on #83
@Byloth quando sarà mergiato su `l10n-italy`?

[2021-01-19 12:34] #86 closed, assigned to nobody

[2021-01-19 12:55] Borruso commented on #84
@Byloth @GSLabIt
I campi vengo assegnati di default in questo oridine: ordine di vendita, partner o tipologia DDT

[2021-01-19 14:59] GSLabIt commented on #84
@Borruso ma non alla creazione, solo su `onchange` del `picking_type`

[2021-01-19 17:02] francesco-ooops opened #87 "Fatturazione massiva - Tutti i DDT relazionati agli ordini appaiono su tutte le fatture di tutti i clienti"
Versioni coinvolte:

 12.0

Passi per riprodurre:

creo ordine di vendita a cliente A > confermo > valido picking > valido DDT (DDT/2021/0001)
creo ordine di vendita a cliente B > confermo > valido picking > valido DDT (DDT/2021/0002)

vado in vendite > da fatturare > seleziono i due ordini > azione > fatturare ordine

Comportamento osservato:

In entrambe le fatture è visibile il riferimento ad e

[2021-01-19 17:23] francesco-ooops opened #88 "DN restano in stato "fatturato" anche se si elimina la fattura a loro collegata"
Versioni coinvolte:

12.0

Passi per riprodurre:

creo ordine di vendita > confermo > valido picking > valido DDT > creo fattura

entro nella fattura appena creata > elimino fattura > torno nell'ordine > creo nuova fattura

Comportamento osservato:

Il DDT resta in stato "fatturato" anche dopo l'eliminazione della fattura collegata
Non è presente il tasto "crea fattura" nel ddt
Se creo una nuova f

[2021-01-24 11:35] MarcoCalcagni commented on #85
per ovviare a quanto segnalato da Giovanni, basta avere le spese di
spedizione con prodotto consumabile  e quindi inserite nel picking .

Il giorno mar 19 gen 2021 alle ore 11:07 Matteo Bilotta <
notifications@github.com> ha scritto:

--
Dott.  Marco Calcagni
----
Dinamiche Aziendali S.r.l.
Sede Legale: Via G.Porzio, 4 - 80143 Centro Direzionale di Napoli
Sede Operativa: Via Nazionale delle puglie

[2021-01-25 10:33] GSLabIt commented on #87
@As400it potreste cortesemente verificare?

[2021-01-25 10:59] Byloth commented on #87
Sì, avete perfettamente ragione.
Il baco è esistente.

Per risolvere il malfunzionamento, al momento, fatturate un ordine alla volta o, nel caso, un cliente alla volta.

Aggiungo la Issue tra i bug da risolvere.

[2021-01-25 11:06] Byloth commented on #88
Hai perfettamente ragione.
Per la natura del DdT (piuttosto complessa, in realtà, potendo essere fatturato parzialmente e legato a diversi ordini contemporaneamente), al momento, non è possibile aggiornare autonomamente lo stato del DdT stesso.

Consiglio di Annullare il DdT, reimpostarlo a Bozza e rivalidarlo nuovamente; la numerazione verrà mantenuta.
Così facendo, verrà aggiornato lo stato del

[2021-01-25 11:08] Byloth commented on #88
Qualora fossi interessato a proporre una soluzione per questo problema, ti invito ad aprire una PR collegandola a questa Issue.

Fino ad allora, chiudo.

[2021-01-25 11:08] #88 closed, assigned to nobody

[2021-04-07 10:14] francesco-ooops commented on #87
@Byloth ci sono novità su questa issue?

[2021-04-07 10:33] Byloth commented on #87
Negativo, @francesco-ooops...
O quantomeno, io non ho news a riguardo.

@As400it?

[2021-06-21 15:45] hurrinico commented on #79
CIao @GSLabIt e @Byloth
Ho scritto oggi a Matteo via mail e mi ha rimandato qui.
Ho provato a seguire gli step che dite ma rimango con lo stesso errore.
[code]
Cosa sto sbagliando?

[2021-06-21 16:01] Byloth commented on #79
Ti chiedo, gentilmente, di modificare il commento mettendo la parte di codice saliente tra ` ``` ` altrimenti ci viene veramente difficile capire cos'accade...  😅

[2021-06-21 16:02] Byloth commented on #79
Nel frattempo, ti faccio una domanda al volo...
Il modulo `l10n_it_delivery_note` è installato, sul tuo database?

[2021-06-21 16:07] hurrinico commented on #79
Ciao,
scusami avevo copiato male.
Si è installato.
Ho provato a disinstallare e reinstallarlo più volte

[2021-06-21 16:19] Byloth commented on #79
Prova a lanciare un `odoo-bin help`; dovrebbe restituirti l'elenco dei comandi CLI disponibili.
Iniziamo col capire se `migratel10nitddt` è presente nella lista di comandi.

---

Un'altra prova che puoi fare è verificare che, il modulo presente nella tua istanza Odoo, sia all'ultima versione disponibile!
Prendi come riferimento questo repository piuttosto che quello OCA (potrebbe essere rimasto un

[2021-06-21 16:26] hurrinico commented on #79
Odoo-bin help non da migratel10nitddt tra la lista dei commenti.
Aggiorno il modulo

[2021-06-21 16:54] hurrinico commented on #79
Aggiornato anche Il codice, lanciato update all.
Ma Odoo-bin help continua a non dare migratel10nitddt tra la lista dei commenti.

[2021-06-21 16:56] GSLabIt commented on #79
hai provato a dare il path assoluto anziché `export ODOO_RC="~/12.0/odoo.cfg"`

[2021-06-21 16:57] hurrinico commented on #79
SI, si vede anche nel codice. Ho provato in entrambi i modi

[2021-06-22 07:28] Byloth commented on #79
Temo proprio che non c'entri nulla, purtroppo, con il problema indicato in questa issue; siamo off-topic.
Riprendiamo la conversazione via e-mail.